.box {
    position: absolute;
    width: 50vw;  /* 10% of viewport width */
    height: 70vh; /* 10% of viewport height */
    /* border: 2px solid black;   */
    left: 12vw; /* Moves the box 50% across the viewport width */
    top: 22vh;  /* Moves the box 50% down the viewport height */
  }
  
  .box1 {
    position: absolute;
    width: 50vw;  /* 10% of viewport width */
    height: 70vh; /* 10% of viewport height */
    /* border: 2px solid black;   */
  
    left: 55vw; /* Moves the box 50% across the viewport width */
    top: 22vh;  /* Moves the box 50% down the viewport height */
  }
  